.csv-btn {
  background-color: #63bb63;
  color: #fff !important;
  border: 1px solid #30a944;
  border-radius: 3px;
  font-size: 13px;
  font-weight: bold;
  padding: 9px;
  margin: 0 10px;
  float: right;
  text-decoration: none !important;
  box-sizing: border-box;
  cursor: default;
}
